
# Ignore all contents in these directories
# build output dir:
build/*
# temp files
.tmp/*
# compliation artifacts in output directory:
output/*

# But do not ignore .gitkeep files
!build/.gitkeep
!.tmp/.gitkeep
!output/.gitkeep


